{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "plugin:vitest/recommended",
        "plugin:jsx-a11y/recommended",
        "react-app"
    ],
    "plugings": [
        "vitest",
        "prettier",
        "jsx-a11y"
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "spaced-comment": [
            "error",
            "always",
            {
                "line": {
                    "markers": ["/"],
                    "exceptions": ["-", "+"]
                },
                "block": {
                    "markers": ["/"],
                    "exceptions": ["-", "+"],
                    "balanced": true
                }
            }
        ],
        "no-debugger": "warn",
        "vitest/max-nested-describe": [
            "error",
            {
              "max": 3
            }
        ],
        "jsx-a11y/rule-name": 2
    },
    "parser": "@babel/eslint-parser",
    "env": {
        "browser": true
    },
    "globals": {
        "fetch": false
    }
}