$error: #b94141;

.message {
    position: absolute;
    color: $error;
    border: 1px solid #ffcccd;
    padding: 10px;
    background: #ffcccd;
    width: 700px;
    height: 50px;
    margin-left: 2%;
    margin-right: auto;

    &.success {
        color: #2fb98e;
        border: 1px solid #3cbdaf;
        background: #f2fff6;

        svg.left-icon {
            border: 1px solid #2fb98e;
        }
    }

    svg.left-icon {
        border: 1px solid $error;
        border-radius: 50%;
        position: absolute;
        outline: none;
        left: 10px;
        top: 7px;
        max-width: 12px;
        height: auto;
        margin-top: 3px;
    }

    &__close-button {
        position: absolute;
        outline: none;
        right: 15px;
        top: 5px;
        svg {
            max-width: 15px;
        }
    }

    &__title {
        font-size: 1.1em;
        margin: 0 20px;
    }

    &__content {
        color: #000;
        margin: 0 20px;
    }
}