.MainPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.FormPanel {
    width: 60%;
    padding: 20px;
}

.CategoryPanel {
    width: 40%;
    padding: 20px;
}

.AddRolePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 224px;
    height: 316px;
    box-sizing: border-box;
    border: 1px solid #A2A2A2;
    border-radius: 6px;
}

.AddRoleTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 8px;
}

.RoleOption {
    width: 176px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 10px;
    cursor: default;
    background-color: #EBECEF;
    color: #45536C;
}

.RoleOption:hover {
    background-color: #729fe8;
    color: white;
}