html,body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6FAFF;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.medium {
  color:  #FFFFFF;
  margin: 2px;
  font-style: normal;
  height: 36px;
  font-weight: 500;
  font-size: 28px;
}

.light {
  color: #FFFFFF;
  margin: 2px;
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
}